.footer{
    // height: 34.375rem;
    background-color: #131A22;
    display: flex;
    text-align: center;
    justify-content:center ;
    @media only screen and (max-device-width: 1000px) { 
        width: 1000px;   
     }

     @media only screen and (max-device-width: 900px) { 
        width: 900px;   
     }
     @media only screen and (max-device-width: 700px) { 
        width: 700px;   
     }

     @media only screen and (max-device-width: 700px) { 
        width: 600px;   
     }
    
    
    
    
    
    
    .kompaniya{
        margin-top: 5rem;
        flex: 1;
        color: white;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        @media only screen and (max-device-width: 600px) { 
            display: none;
            
         }
        .child{
        
       
        a{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            color: #FFFDF7;
            text-decoration: none;
            text-align: start;
        }
        .icons{
            display: flex;
            justify-content: center;
            .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                background-color: #585753;
                border-radius: 50%;
                margin-left: 1rem;
                margin-top: 2rem;
                &:hover{
                    background-color: #F26522;
                }
            }
            
        }
        .language{
            width: 84px;
            height: 28px;
            border-radius: 0.625rem;
            margin-top: 12.5rem;
        }
    }
}

.last{
margin-right:  6rem ;
text-align: center;



.aloqa{
    margin-top: 5rem;
    flex: 1;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

   
    
}
.num{
    color: white;
}
.number{
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    margin-top: 1rem;
    @media only screen and (max-device-width: 600px) { 
        font-weight: 400;
        font-size: 18px; 
        padding-top: 1rem;
        margin-top: -1rem;
        
     }
    }
.location{
    display: flex;
    align-items: center;
    color:  #FFFDF6;
    img{
        width: 20px;
        height:20px;
        margin-top: 15px;
        margin-left: -1.4rem;
        @media only screen and (max-device-width: 600px) { 
            display: none;
            }
    }
    .zip{
        @media only screen and (max-device-width: 600px) { 
            display: none;
            
            }
    }
   
    }
    .p{
        color:  #FFFDF6;
        width: 250px;
        margin-top: 1rem;
       
    }
  } 
}
