.footer{
    height: 34.375rem;
    background-color: #131A22;
    display: flex;
    
   
  
    .kompaniya{
        margin-top: 5rem;
        flex: 1;
        color: white;
    }
    .xizmatlar{
        margin-top: 5rem;
        flex: 1;
        color: white;
    }
    .mijozlaruchun{
        margin-top: 5rem;
        flex: 1;
        color: white;
    }
 }
