
body{
    margin: 0;
    padding: 0;
    //  background-color: rgb(37, 220, 20);
}
.navbar{
    display: flex;
    align-items: center;
    font-family: Lato;
    margin-top: 2.375rem;

    .romb{
        position: absolute;
        width: 2.313rem;
        height: 2.563rem;
    }
    .romb1{
        position: relative;
        padding-left: 0.875rem;
        width: 2.313rem;
        height: 2.563rem;
    }
    .euro{
        display: flex;
        align-items: center;
        margin-left: 10.5rem;
        p{
            text-transform: uppercase;
        }
        .text{
            display: flex;
            justify-content: center;
            margin-left: 10rem;
        }
       
    }
    .nav{
        display: flex;
        align-items: center;
        justify-content: center;
        
        .text{
            display: flex;
            justify-content: center;
            margin-left: 17rem;
        }
       
        

        a{
            text-decoration: none;
            color: black;
            font-family: Lato ;
            cursor: pointer;
            margin-left: 2.875rem;
            &:hover {
                text-decoration: underline;
                text-decoration-color: #F26522;
                
            }
            
            
            
        }
        .languages{
            width: 84px;
            height: 28px;
            margin-left: 2.875rem;
            border-radius: 0.625rem;
        }
    }
   
}




