.page4{
  overflow: hidden;
   .title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-top: 8.438rem;
    color: #131A22;
    margin-bottom: 2rem;
    text-align: center;
   }
  .disign{
    width: 20.75rem;
    height: 35.313rem;
    background-color: #f264225a;
    border-bottom-left-radius: 12.5rem;
    position: absolute;
    margin-top: 25rem;
    
  }  
  .disign2{
    width: 20.75rem;
    height: 35.313rem;
    background-color: #f264225a;
    border-top-right-radius: 12.5rem;
    position: absolute;
    margin-left: 74.2rem;
    margin-top: -8rem;
    overflow: hidden;
    @media only screen and (max-device-width: 1280px) { 
        display: none;
   }
  }  
  .images{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin-left: 10.131rem;
    flex-wrap: wrap;
    gap: 1.188rem;
    overflow: hidden;
    position: absolute;
 
    @media only screen and (max-device-width: 1280px) { 
      width: fit-content;
      // margin-left: 1rem; 
      margin-left: -1.5rem;
   }
      
    }
    .container {
      position: relative;
      width: 260px;

      @media only screen and (max-device-width: 600px) { 
        
        align-content: center;
     }
    }
    
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
      transition: 1s;
    }
    
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .container:hover .image {
      filter: brightness(40%);
    }
    
    .container:hover .middle {
      opacity: 1;
    }
    
    .text {
      background-color:  #F26522;
      border-radius: 10rem;
      color: white;
      font-size: 16px;
      padding: 16px 32px;
      width: 100px;
      height: 15px;
      cursor: pointer;
    } 
    .top{
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: white;
    }
  }
