.page4{
  overflow: hidden;
   .title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    margin-left: 32.875rem;
    margin-top: 8.438rem;
   }
  .disign{
    width: 20.75rem;
    height: 35.313rem;
    background-color: #f264225a;
    border-bottom-left-radius: 12.5rem;
    position: absolute;
    margin-top: 25rem;
  }  
  .disign2{
    width: 20.75rem;
    height: 35.313rem;
    background-color: #f264225a;
    border-top-right-radius: 12.5rem;
    position: absolute;
    margin-left: 74.2rem;
    margin-top: -8rem;
  }  
  .images{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: 9.75rem;
    gap: 1.188rem;
      .cardImage{
        &:hover{
            background-image: url('../../assets/page3Back.png');
            cursor: pointer;
            filter: brightness(40%);
        }
    }
    .buyurtma{
        
    }
  }
}