

.page1{
   display: flex;

   .item1{
    flex: 1;
    font-family: 'Lato';
    margin-left: 10rem;
    width: 44rem;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 13rem;
    margin-left: 10.313rem;

    
    
    .bolt{
      font-weight: 900;
            margin-top: 1rem;
        
    }
    button{
        background-color:#F26522;
        border: none;
        color: white;
        cursor: pointer;
        position:absolute;
        width: 14.25rem;
        height: 2.875rem;
        border-radius: 6.25rem;

        
    }
    .strelka{
        position: relative;
        margin-left: 170px;
    }
    .phoneNumbers{
        display: flex;
        margin-top:  11.563rem;
    }
    
    .number{
        font-size: 13px;
        margin-bottom: 5px;
    }
    .remain-num{
        margin-top: -0.5rem;
        font-weight: 400;
        font-size: 32px;
        margin-left: 1rem;  
    }
    .number2{
        font-size: 13px;
        margin-bottom: 5px;
    }
    .remain-num2{
        margin-top: -0.5rem;
        margin-left: 1rem;
        font-weight: 400;
        font-size: 32px;
    }
    .Number-child{
        margin-left: 2.25rem;
    }
   }

   .item2{
    flex: 1;
    margin-top: 7.75rem;
    width: 100%;
    img{
      width: 34.375rem;
      height: 24.813rem;
      margin-top: -13rem;
        
    }
   }
}